/* Container principal */

.cadastro-container {
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.step1{
  flex: 1;
}


.hiddenstep{
  display: none;
}

.black-box {
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
}

.font-bold {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  font-size: 15pt;
}

.title {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: italic;
  font-size: 20pt;
}

.form-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.album-cover-container {
  margin-top: 2rem;
  text-align: center;
}

.album-cover {
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: #e0e0e0;
  border-radius: 0.375rem;
}

.text-left {
  margin-left: 3rem;
  margin-right: 3rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  margin-top: 0.5rem;
  margin-bottom: 0.5 rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: #000000;
  color: #e0e0e0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 15pt;
}

.form-input-b {
  margin-top: 0.5rem;
  margin-bottom: 0.5 rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: #000000;
  color: #e0e0e0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 15pt;
}

.range-input {
  width: 100%;
}

.input-group {
  margin-top: 1rem;
  display: flex;
}

.text-input-group {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.final-buttons {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.counter-buttons{
  margin-top: 0.2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.counter-buttons button {
  padding: 0.6rem 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20pt;
}

.counter-buttons .a-button {
  background-color: black;
  color: white; 
}

.final-buttons button {
  padding: 0.6rem 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20pt;
}

.final-buttons .a-button {
  background-color: black;
  color: white;
}

.final-buttons .b-button {
  background-color: white;
  color: black;
  margin-bottom: 2rem;
}

.step2{
  margin-top: 3rem;
  border-radius: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.uploadbox{
  border-radius: 1.5rem;
  margin-top: 4rem;
  display: flex;
  width: 30%;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-left: 4rem;
}

.music-row{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  gap: 2rem;
}

.input-song{
  background-color: white;
}