@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.main {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

.header {
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;  
    align-items: center; 
}

.name {
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 50px;
}

.edit {
    color: rgb(0, 0, 0);
    margin-right: 30px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    height: 45px;
    width: 140px;
    border-radius: 70px;
    transition: background-color 0.2s;
    padding: 10px;
}

.editimage {
    margin-right: 12px;
    height: 25px;
    width: 25px;
}

.edit:hover {
    background: rgb(111, 111, 111); /* Nova cor de fundo */
    color: black;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.card {
    background-color: black;
    border-radius: 40px;
    width: 280px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.photo {
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 10%;
    margin-top: 10px;
}

.login {
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 25px;
    /* margin-top: 50px;
    margin-left: 20px; */
}

.bio {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px;
}

.info {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoimage {
    margin-right: 10px;
    filter: invert(100%);
    height: 30px;
    width: 30px;
}

.button{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    border: 0;
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.2s;
}

.button:hover {
    background: rgb(111, 111, 111); /* Nova cor de fundo */
    color: black;
}

.options{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}