@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.main {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.header {
    color: rgb(0, 0, 0);    
    font-family: 'Mansalva', cursive;
    font-size: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.card {
    background-color: black;
    border-radius: 40px;
    width: 360px;;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    border: 0;
    height: 40px;
    width: 150px;
    font-size: 3vh;
    font-family: 'Mansalva', cursive;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.2s;
}

.button:hover {
    background: rgb(111, 111, 111); /* Nova cor de fundo */
    color: black;
}

.photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 10%;
    /*margin-left: 10px; */
}

.inputer {
    width: 300px;
    height: 45px;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.inputer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Mansalva', cursive;
    padding: 8px;
    background: transparent;
}

.toast {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;  
    align-items: center; 
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 260px;
    font-size: 8vh;
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Mansalva', cursive;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.regPhoto {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}