.body{
    background-color: white;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 2%;
    align-items: center;
}

.banner{
    background-color: black;
    height: 25vh;
    width: 100%;
    border-radius: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-right: 2vw;
}

.bannerArt{
    height: 24vh;
    width: 24vw;
}

.sugests{
    display: flex;
    background-color: white;
    height: 40vh;
}

.atalhos{
    background-color: black;
    height: 25%;
    width: 90%;
    border-radius: 40px;
    padding: 3.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    
}

.atalhoButton{
    height: 17vh;
    width: 17vh;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
}

.atalhoButton:hover{
    transition: background-color 0.3s;
    background-color: rgb(208, 208, 208);
}

.atalhoIcon{
    height: 8vh;
    width: 8vh;
}