.body{
    background-color: white;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 2%;
    align-items: center;
}

.banner{
    background-color: black;
    height: 25%;
    width: 100%;
    border-radius: 40px;
}

.sugests{
    background-color: white;
    height: 40%;
}

.atalhos{
    background-color: black;
    height: 25%;
    width: 90%;
    border-radius: 40px;
    padding: 3.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    
}

.atalhoButton{
    height: 17vh;
    width: 17vh;
    background-color: white;
    border-radius: 20px;
}

.atalhoButton:hover{
    transition: background-color 0.3s;
    background-color: rgb(208, 208, 208);
}