.mainLayout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 17vw 83vw;
}

.loginPopup{
    background-color: white;
    height: 45%;
    width: 30%;
    position: fixed;
    top: 24%;
    left: 42%;
    border-radius: 30px;
    color: black;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    gap: 2vw;
    text-align: center;
}

.loginButton{
    color: white;
    background-color: black;
    border-radius: 30px;
    height: 7vw;
    width: 20vw;
    font-size: 2vw;
    border: none;
}

.loginButton:hover{
    background-color: rgb(142, 142, 142);
    transition: background-color 0.3s;
    cursor: pointer;
}

.blur{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 17vw;
}